<!doctype html>
<title>ShopGenie</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/main.css" />
<h1>ShopGenie</h1>
<hr />
<div class="section">
  <form id="edit-profile">
    <label>
      <p>
        <strong>Do you have any calorie, macro, or dietary goals?</strong>
      </p>
      <textarea id="dietary-goals" placeholder="2000 calories/day, lose weight">{{ profile.dietaryGoals }}</textarea>
    </label>

    <label>
      <p>
        <strong>How many people are you cooking for?</strong>
      </p>
      <textarea id="cooking-for" placeholder="2 adults, 3 children">{{ profile.cookingFor }}</textarea>
    </label>

    <br />
    <button type="submit">
      Continue
    </button>
    <p class="loader" hidden>Loading, please wait up to 2 minutes...</p>
  </form>
  <script type="module">
    window.document.querySelector('#edit-profile').addEventListener('submit', (event) => {
      event.preventDefault();

      window.document.querySelector('#edit-profile .loader').removeAttribute('hidden');

      const dietaryGoals = window.document.querySelector('#dietary-goals');
      const cookingFor = window.document.querySelector('#cooking-for');

      const profile = {
        dietaryGoals: dietaryGoals.value,
        cookingFor: cookingFor.value,
      };

      fetch('/edit-profile', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(profile),
      }).then((response) => {
        window.document.querySelector('#generate-meal-plan').dispatchEvent(new SubmitEvent('submit'));
      });
    });
  </script>
</div>


<form id="generate-meal-plan" action="/generate-meal-plan" method="POST" hidden>
  <button
    type="submit">
    Generate Meal Plan
  </button>
  <p class="loader" hidden>Loading, please wait up to 2 minutes...</p>
</form>

<script type="module">
  window.document.querySelector('#generate-meal-plan').addEventListener('submit', (event) => {
    event.preventDefault();

    window.document.querySelector('#generate-meal-plan .loader').removeAttribute('hidden');

    fetch('/generate-meal-plan', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
    }).then((response) => {
      window.location = new URL('/meal-plan', window.location);
    });
  });
</script>
