<!doctype html>
<title>ShopGenie</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/main.css" />
<h1>ShopGenie</h1>
<hr />
<div class="section">
  <h2>
    Edit Profile
  </h2>
  
  <form id="start-form">
    <button type="submit">
      Start
    </button>
  </form>

  <script type="module">
    window.document.querySelector('#start-form').addEventListener('submit', (event) => {
      event.preventDefault();
      window.location = new URL('/edit-profile/favorites', window.location);
    });
  </script>
</div>