<!doctype html>
<title>MealGenie</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/main.css" />
<div class="root">
<h1>MealGenie</h1>
<hr />
<div class="section">
  <p>MealGenie is an AI meal planning app.</p>
  <p>Fill in just a few details about your dietary preferences to make ideas for a week's worth of meals</p>
  <!--<ul>
    <li>Ideas for a week's worth of meals</li>
    <li>Recipes for each meal</li>
    <li>Your grocery list</li>
  </ul>-->
  <form id="start-form">
    <button type="submit">
      Start here
    </button>
  </form>
</div>
<script type="module">
  window.document.querySelector('#start-form').addEventListener('submit', (event) => {
    event.preventDefault();

    fetch('/sign-up').then((res) => {
      return res.json();
    }).then(result => {
      if (result.success) {
        window.document.cookie = `__username=${result.username}`;
        window.location = new URL('/edit-profile/favorites', window.location);
      }
    });
  });
</script>
</div>