<!doctype html>
<title>ShopGenie</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/main.css" />
<h1>ShopGenie</h1>
<hr />
<div class="section">
  <h2>
    Meal Plan for the Week
  </h2>

  
  <form class="generate-grocery-list">
    <button type="submit">
        Generate Recipes and Grocery List
    </button>
    
    <p class="loader" hidden>Loading, please wait up to 2 minutes...</p>
  </form>

      
  <table id="meal-plan">
    <thead>
      <tr>
        <th scope="col">
          Day
        </th>
        <th scope="col">
          Meal
        </th>
        <th scope="col">
          Recipe
        </th>
      </tr>
    </thead>
    {% if mealPlan.length %}
      {% for meal in mealPlan %}
        <tr>
          <td class="meal-day--{{ meal.day }}">
            {{ ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'][meal.day] }}
          </td>
          <td class="meal-meal--{{ meal.meal }}">
            {{ ['Breakfast', 'Lunch', 'Dinner', 'Snack'][meal.meal] }}
            <br />
            <form class="delete-meal">
              <input type="hidden" name="id" value="{{ meal._id }}" />
              <button type="submit">
                Delete Meal
              </button>
            </form>
          </td>
          <th>
            {{ meal.name }}

            <br />
            
            <form class="other-options">
              <input type="hidden" name="meal" value="{{ ['Breakfast', 'Lunch', 'Dinner', 'Snack'][meal.meal] }}" />
              <button type="submit">
                Other Options...
              </button>
            </form>
            <form>
              <input type="hidden" name="id" value="{{ meal._id }}" />
              <input type="hidden" name="position" value="{{ loop.index0 }}" />
              <select hidden>
                <option default>Loading...</option>
              </select>
              <button type="submit" hidden>
                Replace
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
    {% endif %}
    
    <script type="module">
      Array.from(window.document.querySelectorAll('.other-options')).forEach(formElement => {
        formElement.addEventListener('submit', (event) => {
          event.preventDefault();

          const selectElement = formElement.nextElementSibling.querySelector('select');
          const selectButton = formElement.nextElementSibling.querySelector('button');

          selectElement.removeAttribute('hidden');

          const meal = formElement.querySelector('[name="meal"]');

          const body = JSON.stringify({
            meal: meal.value,
          });
          
          fetch('/generate-replacement-meals', {
            method: 'POST',
            body,
            headers: {
              'Content-Type': 'application/json',
            }
          }).then((res) => {
            return res.json();
          }).then((result) => {
            selectElement.querySelector('option').remove();
            selectButton.removeAttribute('hidden');

            for (const replacementMeal of result) {
              const optionElement = window.document.createElement('option');
              optionElement.textContent = replacementMeal.name;
              selectElement.append(optionElement);
            }
          });
        });
        formElement.nextElementSibling.addEventListener('submit', (event) => {
          event.preventDefault();

          const id = formElement.nextElementSibling.querySelector('[name="id"]');
          const position = formElement.nextElementSibling.querySelector('[name="position"]');
          const nameElement = formElement.nextElementSibling.querySelector('select');

          const body = JSON.stringify({
            name: nameElement.value,
            id: id.value,
            position: position.value,
          });

          fetch('/replace-meal', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body,
          }).then(() => {
            window.location.reload();
          });
        })
      });

      Array.from(window.document.querySelectorAll('.delete-meal')).forEach(formElement => {
        formElement.addEventListener('submit', (event) => {
          event.preventDefault();
          
          const mealId = formElement.querySelector('[name="id"]');
          console.log(mealId.value)

          const body = JSON.stringify({
            id: mealId.value,
          });

          fetch('/delete-meal', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body,
          }).then(() => {
            window.location.reload();
          })
        });
      });
    </script>
  </table>

  <form class="generate-grocery-list">
    <button type="submit">
        Generate Recipes and Grocery List
    </button>
    
    <p class="loader" hidden>Loading, please wait up to 2 minutes...</p>
  </form>
</div>

<script type="module">
  Array.from(window.document.querySelectorAll('.generate-grocery-list')).forEach(formElement => {
    formElement.addEventListener('submit', async (event) => {
      event.preventDefault();

      formElement.querySelector('.loader').removeAttribute('hidden');

      fetch('/generate-grocery-list', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          }
      }).then((response) => {
        window.location = new URL('/grocery-list', window.location);
      });
    });
  });
</script>
