<!doctype html>
<title>MealGenie</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/main.css" />
<div class="root">
  <h1>MealGenie</h1>
  <hr />
  <nav>
    <a class="back-button" href="/edit-profile/goals">⮜ Back</a>
  </nav>
  <hr />
<div class="section">
  <h2>
    Portions
  </h2>

  <div class="slider-container">
    <small>
      How many people are you cooking for?
    </small>
  </div>

<form>
  <div class="autocomplete-container">
    <select id="adult-portion">
      <option selected>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <button type="submit">
      Add Number of Adults
    </button>
  </div>
</form>
<form>
  <div class="autocomplete-container">
    <select id="child-portion">
      <option selected>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <button type="submit">
      Add Number of Children
    </button>
  </div>
</form>
    <script type="module">
      const favoritesListInputElement = window.document.querySelector('#portion');
      const datalistElement = favoritesListInputElement.nextElementSibling;
      const formElement = favoritesListInputElement.closest('form');

      formElement.addEventListener('submit', (event) => {
        event.preventDefault();
        const value = favoritesListInputElement.value || '';
        const outputElement = window.document.querySelector('#portions');
        outputElement.textContent = `${outputElement.textContent ? `${outputElement.textContent}, ` : ''}${value}`;
        const listItemElement = window.document.createElement('li');
        listItemElement.dataset.portion = value;
        const valueTextNode = window.document.createTextNode(value);
        listItemElement.append(valueTextNode);
        const removeButtonElement = window.document.createElement('remove-button');
        listItemElement.append(removeButtonElement);
        outputElement.nextElementSibling.append(listItemElement);
        for (const item of Array.from(window.document.querySelectorAll('fieldset input'))) {
          if (item.parentElement.querySelector('span').textContent.toLowerCase() === value) {
            item.checked = true;
          }
        }
        for (const element of Array.from(datalistElement.children)) {
          element.remove();
        }
      });
    </script>
    
    <script type="module">
      const adultportionInputElement = window.document.querySelector('#adult-portion');
      const adultportionFormElement = adultportionInputElement.closest('form');

      adultportionFormElement.addEventListener('submit', (event) => {
        event.preventDefault();
        const value = `${adultportionInputElement.value || ''} Adults`;
        const outputElement = window.document.querySelector('#portions');
        outputElement.textContent = `${outputElement.textContent ? `${outputElement.textContent}, ` : ''}${value}`;
        const listItemElement = window.document.createElement('li');
        listItemElement.dataset.portion = value;
        const valueTextNode = window.document.createTextNode(value);
        listItemElement.append(valueTextNode);
        const removeButtonElement = window.document.createElement('remove-button');
        listItemElement.append(removeButtonElement);
        outputElement.nextElementSibling.append(listItemElement);
        for (const item of Array.from(window.document.querySelectorAll('fieldset input'))) {
          if (item.parentElement.querySelector('span').textContent.toLowerCase() === value) {
            item.checked = true;
          }
        }
      });
    </script>
    <script type="module">
      const childportionInputElement = window.document.querySelector('#child-portion');
      const childportionFormElement = childportionInputElement.closest('form');

      childportionFormElement.addEventListener('submit', (event) => {
        event.preventDefault();
        const value = `${childportionInputElement.value || ''} Children`;
        const outputElement = window.document.querySelector('#portions');
        outputElement.textContent = `${outputElement.textContent ? `${outputElement.textContent}, ` : ''}${value}`;
        const listItemElement = window.document.createElement('li');
        listItemElement.dataset.portion = value;
        const valueTextNode = window.document.createTextNode(value);
        listItemElement.append(valueTextNode);
        const removeButtonElement = window.document.createElement('remove-button');
        listItemElement.append(removeButtonElement);
        outputElement.nextElementSibling.append(listItemElement);
        for (const item of Array.from(window.document.querySelectorAll('fieldset input'))) {
          if (item.parentElement.querySelector('span').textContent.toLowerCase() === value) {
            item.checked = true;
          }
        }
      });
    </script>
  <form id="edit-profile">
    <label>
      <output hidden id="portions">{{ profile.cookingFor }}</output>
      <ul aria-label="portion">
        {% if profile.cookingFor %}
          {% for portion in profile.cookingFor.split(', ') %}
           <li data-portion="{{ portion }}">{{ portion }} <remove-button></remove-button></li>
          {% endfor %}
        {% endif %}
      </ul>
      <script type="module">
        const outputElement = window.document.querySelector('#portions');
        outputElement.nextElementSibling.addEventListener('click', (event) => {
          const buttonElement = event.target;
          const portion = Array.from(buttonElement.closest('li').childNodes).find(node => node.nodeType === Node.TEXT_NODE).textContent.trim();
          const itemsArray = outputElement.textContent.split(', ');
          itemsArray.splice(itemsArray.indexOf(portion), 1);
          outputElement.textContent = itemsArray.join(', ');
          buttonElement.closest('li').remove();
          for (const item of Array.from(window.document.querySelectorAll('fieldset input'))) {
            if (item.parentElement.querySelector('span').textContent.toLowerCase() === portion) {
              item.checked = false;
            }
          }

          window.document.querySelector(`[name="portion"][value="${portion}"]`).checked = false;
        });
      </script>
      <script type="module">
        window.customElements.define('remove-button', class RemoveButton extends HTMLElement {
          constructor() {
            super();
            this.attachShadow({ mode: 'open', });
            const stylesheet = new CSSStyleSheet();
            stylesheet.replaceSync(`
              button {
                color: white;
                background: red;
                border-radius: 100%;
              }
            `);
            this.shadowRoot.adoptedStyleSheets = [stylesheet];
            const buttonElement = window.document.createElement('button');
            buttonElement.setAttribute('type', 'button');
            buttonElement.textContent = 'X';
            this.shadowRoot.append(buttonElement);
          }
        });
      </script>
    </label>
    <div class="fixed-cta">
      <button type="submit">
        Continue
      </button>
    </div>
    <p class="loader" hidden>Loading, please wait up to 2 minutes...</p>
  </form>
  <script type="module">
    window.document.querySelector('#edit-profile').addEventListener('submit', (event) => {
      event.preventDefault();

      window.document.querySelector('#edit-profile .loader').removeAttribute('hidden');

      const portion = window.document.querySelector('#portions');

      const profile = {
        cookingFor: portion.value,
      };

      fetch('/edit-profile/portions', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(profile),
      }).then((response) => {
        window.location = new URL('/edit-profile', window.location);
      });
    });
  </script>
</div>
</div>